# Global variables
microservice:
  name: web-server
  tag: 1.0.0
  environment: dev
  port: 3000
  healthCheckPath: /health
  logLevel: INFO
  protocol: http
  replicas: 1

# Image variables
imagePath: ghcr.io/stavco9/unity-devops-assignment-app/web-server

# Ingress variables
ingress:
  enabled: true
  protocol: https
  ingressClassName: nginx
  host: unity-store-dev-web-server.k8s.stav-devops.eu-central-1.pre-prod.stavco9.com

# Secrets variables
# Need to pre-create the secrets in kubernetes cluster.
# e.g. kubectl create secret generic web-server-conf --from-file=config-dev.json --namespace unity-store-dev
# kubectl create secret generic kafka-producer-properties --from-file=kafka-dev.properties --namespace unity-store-dev
secrets:
- name: web-server-conf
  mountPath: /app/config/config-dev.json
  subPath: config-dev.json
- name: kafka-producer-properties
  mountPath: /app/config/kafka-dev.properties
  subPath: kafka-dev.properties

# IAM Role variables
irsa:
  enabled: true