# Global variables
microservice:
  name: unity-store
  tag: latest
  environment: dev
  port: 3000
  healthCheckPath: /health
  logLevel: INFO
  protocol: http
  replicas: 1

resources:
  memory: 512Mi
  cpu: 200m

autoscaling:
  enabled: false
  minPods: 1
  maxPods: 10
  cpu:
    enabled: false
    percentage: 90
  memory:
    enabled: false
    percentage: 70
  kafka:
    enabled: false
    pollingInterval: 5
    consumerGroup: 
    bootstrapServers:
    topic:
    lagThreshold: "10"
    offsetRestPolicy: latest
    sasl: plaintext
    tls: enable
    credentialsSecretName:
    # This secret should be pre-created in the kubernetes cluster.
    # apiVersion: v1
    #  kind: Secret
    #  metadata:
    #    name: <your-secret-name>
    #    namespace: <your-namespace>
    #  data:
    #    authMode: "sasl_ssl_plain"
    #    username: <your username>
    #    password: <your password>
  customMetrics: []
  ###
  ### customMetrics:
  ### - name: sessions_counter
  ###   threshold: 2
  ###

# Image variables
imagePath: ghcr.io/stavco9/unity-devops-assignment-app/web-server

# Ingress variables
ingress:
  enabled: true
  protocol: https
  ingressClassName: nginx
  host: unity-store.example.com

# Secrets variables
# Need to pre-create the secrets in kubernetes cluster.
# e.g. kubectl create secret generic web-server-conf --from-file=config-dev.json --namespace unity-store-dev
# kubectl create secret generic kafka-producer-properties --from-file=kafka-dev.properties --namespace unity-store-dev
# The object structure is:
# - name: <secret-name>
#   mountPath: <mount-path>
#   subPath: <sub-path>
secrets: []

# If not specifying iamRoleArn, a new IAM Role will be created with the following values.
irsa:
  enabled: false
  awsAccountId: "882709358319"
  oidcProviderName: "882709358319-eu-central-1-stav-devops-irsa-discovery-pre-prod.s3.eu-central-1.amazonaws.com"
  awsRegion: eu-central-1
  iamRoleArn: